{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %}
    नयाँ | User
{% endblock %}


{% block breadcrumbLink %}
    {% if request.user.is_authenticated %}
        <li class="breadcrumb-item"><a href="{% url 'home' %}">बिधुत जडान</a></li> {% endif %}
    <li class="breadcrumb-item active">नयाँ</li>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div class="row ">
                    <div class="col-lg-10 offset-1">

                        {% if form.non_field_errors %}
                            <div class="col-md-12">
                                <div class="alert alert-danger">
                                    <ul>
                                        {% for error in form.non_field_errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>

                        {% endif %}


                        <form method="POST">
                            {% csrf_token %}
                            <div class=" form-group row">
                                <label class="col-sm-4 col-form-label"><span
                                        class="float-right">पुरा नाम <span
                                        class="text-danger">*</span></span></label>
                                {% if form.full_name.errors %}
                                    <div class="col-sm-6">
                                        {{ form.full_name | add_class:"is-invalid" }}
                                        <div class="invalid-feedback">
                                            {{ form.full_name.errors }}
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="col-sm-6">
                                        {{ form.full_name }}
                                    </div>
                                {% endif %}
                            </div>

                            <div class=" form-group row">
                                <label class="col-sm-4 col-form-label"><span
                                        class="float-right">इमेल <span
                                        class="text-danger">*</span></span></label>
                                {% if form.email.errors %}
                                    <div class="col-sm-6">
                                        {{ form.email | add_class:"is-invalid" }}
                                        <div class="invalid-feedback">
                                            {{ form.email.errors }}
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="col-sm-6">
                                        {{ form.email }}
                                    </div>
                                {% endif %}
                            </div>

                            <div class=" form-group row">
                                <label class="col-sm-4 col-form-label"><span
                                        class="float-right">युजरनेम <span
                                        class="text-danger">*</span></span></label>
                                {% if form.username.errors %}
                                    <div class="col-sm-6">
                                        {{ form.username | add_class:"is-invalid" }}
                                        <div class="invalid-feedback">
                                            {{ form.username.errors }}
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="col-sm-6">
                                        {{ form.username }}
                                    </div>
                                {% endif %}
                            </div>

                            <div class=" form-group row">
                                <label class="col-sm-4 col-form-label"><span
                                        class="float-right">सम्पर्क <span
                                        class="text-danger">*</span></span></label>
                                {% if form.contact_no.errors %}
                                    <div class="col-sm-6">
                                        {{ form.contact_no | add_class:"is-invalid" }}
                                        <div class="invalid-feedback">
                                            {{ form.contact_no.errors }}
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="col-sm-6">
                                        {{ form.contact_no }}
                                    </div>
                                {% endif %}
                            </div>

                            <div class=" form-group row">
                                <label class="col-sm-4 col-form-label"><span
                                        class="float-right">ठेगाना <span
                                        class="text-danger">*</span></span></label>
                                {% if form.address.errors %}
                                    <div class="col-sm-6">
                                        {{ form.address | add_class:"is-invalid" }}
                                        <div class="invalid-feedback">
                                            {{ form.address.errors }}
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="col-sm-6">
                                        {{ form.address }}
                                    </div>
                                {% endif %}
                            </div>


                            <div class=" form-group row">
                                <label class="col-sm-4 col-form-label"><span
                                        class="float-right">वार्ड <span
                                        class="text-danger">*</span></span></label>
                                {% if form.ward.errors %}
                                    <div class="col-sm-6">
                                        {{ form.ward | add_class:"is-invalid" }}
                                        <div class="invalid-feedback">
                                            {{ form.ward.errors }}
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="col-sm-6">
                                        {{ form.ward }}
                                    </div>
                                {% endif %}
                            </div>

                            <div class=" form-group row">
                                <label class="col-sm-4 col-form-label"><span
                                        class="float-right">पद <span
                                        class="text-danger">*</span></span></label>
                                {% if form.designation.errors %}
                                    <div class="col-sm-6">
                                        {{ form.designation | add_class:"is-invalid" }}
                                        <div class="invalid-feedback">
                                            {{ form.designation.errors }}
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="col-sm-6">
                                        {{ form.designation }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class=" form-group row">
                                <label class="col-sm-4 col-form-label"><span
                                        class="float-right">पासवर्ड <span
                                        class="text-danger">*</span></span></label>

                                <div class="col-sm-6">
                                    <a class="btn btn-warning" href="{% url 'users:ward_user_change_password' pk=data.id %}">पासवर्ड परिवर्तन गर्नुहोस्</a>
                                </div>

                            </div>

                            <div class="form-group row">
                                <div class="col-sm-6 offset-sm-4">
                                    <button type="submit" class='btn btn-submit btn-block btn-primary' name="submit">पेश
                                        गर्नुहोस्
                                    </button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_script %}
    <script>

        var ward = {{ data.ward_staff.ward_number }};
        $('#id_ward option').each(function () {

            var value = $(this).val();
            if (value == ward) {
                console.log(value);
                $(this).attr('selected', true);
            }
        });

    </script>
{% endblock %}