{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    कर्मचारी लग - इन ID
{% endblock %}

{% block breadcrumbLink %}
    <li class="breadcrumb-item"><a href="{% url 'ward_numbers:list' %}">वार्ड नम्बरहरु</a></li>
    <li class="breadcrumb-item active">Staff Id</li>
{% endblock %}


{% block content %}

    <div class="container-fluid">
        <div class="card">
            <div class="body">
                <div class="row mb-2">
                    <div class="col-lg-11 col-md-12 col-sm-12 col-xs-12">
                    </div>
                    <div class="col-lg-1 col-md-12 col-sm-12 col-xs-12 text-right ">
                        <a href="{% url 'users:ward_user_register' %}" class="btn btn-block btn-primary font-17">
                            नयाँ</a>
                    </div>
                </div>

                <table class="table table-sm table-responsive-sm">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">प्र.नं.</th>
                        <th>Status</th>
                        <th>Full Name</th>
                        <th>Username</th>
                        <th style="width:10%"></th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for data in users %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>
                                {% if not data.user.is_deleted %}
                                    <span class="badge badge-pill badge-success text-success" data-toggle="tooltip"
                                          data-placement="right" title="सक्रिय">'</span>
                                {% else %}
                                    <span class="badge badge-pill badge-danger text-danger" data-toggle="tooltip"
                                          data-placement="right" title="निष्क्रिय">'</span>
                                {% endif %}
                            </td>
                            <td><a href="{% url 'users:ward_user_details' pk=data.user.id%}">{{ data.user.full_name }}</a></td>
                            <td>{{ data.user.username }}</td>
                            <td class="text-center">
                                {% if not data.user.is_deleted %}
                                    <a class="btn btn-danger" href="{% url 'users:deactivate_user' %}">निष्क्रिय
                                        गर्नुहोस् </a>
                                {% else %}
                                    <a class="btn btn-success" href="{% url 'users:activate_user' %}">सक्रिय
                                        गर्नुहोस् </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            {% if request.GET.q %}
                                <td class="text-danger text-center" colspan="8"><h5>डाटाबेसमा रेकर्ड भेटिएन ।</h5></td>
                            {% else %}
                                <td class="text-danger text-center" colspan="8"><h5>डाटाबेसमा कुनै डाटा छैन | </h5></td>
                            {% endif %}
                        </tr>
                    {% endfor %}


                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
