{% extends 'base.html' %}
{% load staticfiles %}
{% load calculate_fine %}

{% block page_name %}
    Book Request
{% endblock %}

{% block page_description %}
    List
{% endblock %}

{% block breadcrumbLink %}
    {#    <li>#}
    {#        <a href="#" class="breadcrumb-item">Books</a>#}
    {##}
    {#    </li>#}
{% endblock %}

{% block body_content %}

    <div class="row">
        <div class="col-xs-12">
            <div class="box">

                <div class="box-body">
                    <table id="books-unit-list" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                        <tr>
                            <th>Student</th>
                            <th>Book</th>
                            {% if approved %}
                                <th>Issued Date</th>
                                <th>Fine</th>
                            {% endif %}
                            {% if perms.books.assign_bookunit %}
                                <th style="width: 15%">Action</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for data in datas %}
                            <tr>
                                <td>{{ data.student.name }}</td>
                                <td>
                                    {{ data.book_unit }}
                                </td>

                                {% if approved %}
                                    <th>{{ data.issued_date }}</th>
                                    <th>{{ data.issued_date|calculate_fine }}</th>
                                {% endif %}
                                {% if perms.books.assign_bookunit %}
                                    {% if approved %}
                                        <td class="text-center">
                                            <a class="btn btn-primary btn-sm"
                                               href="{% url 'borrows:return_borrow_book' data.id %}">Return</a>
                                        </td>
                                    {% else %}
                                        <td class="text-center">
                                            <a class="btn btn-primary btn-sm"
                                               href="{% url 'borrows:assign_bookunit' data.id %}">Assign</a>
                                            <a class="btn btn-warning btn-sm"
                                               href="{% url 'borrows:cancel_request' data.id %}">Cancel</a>
                                        </td>
                                    {% endif %}
                                {% endif %}
                            </tr>

                        {% endfor %}

                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>

{% endblock %}

{% block extra_stylesheets %}
    {#    <link rel="stylesheet" href="{% static 'bower_components/datatables.net-dt/css/jquery.dataTables.min.css' %}">#}
    <link rel="stylesheet" href="{% static 'bower_components/datatables.net-dt/css/dataTables.bootstrap.min.css' %}">
{% endblock %}

{% block extra_script %}
    <script src="{% static 'bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables.net/js/dataTables.bootstrap.min.js' %}"></script>
    {#    <script src="{% static 'js/datatable_custom.js' %}"></script>#}
    <script>
        $(document).ready(function () {
            var table = $('#books-unit-list').DataTable({
                "paging": true,
                "ordering": true,
                "info": true,
                "searchable": true,
            });
        });


    </script>
{% endblock %}