{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load formset_tags %}

{% block page_name %}
    Book
{% endblock %}

{% block page_description %}
    Assign
{% endblock %}

{% block breadcrumbLink %}
    <li>
        <a href="{% url 'books:book_list' %}" class="breadcrumb-item">Books</a>

    </li>
    <li>
        <a href="#" class="breadcrumb-item active">Assign</a>
    </li>
{% endblock %}


{% block body_content %}
    <div class="row">
        <div class="col-md-12 ">
            <div class="panel">
                <div class="panel-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4">
                                <div class="form-group">
                                    {{ form }}
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-block btn-primary">
                                        Search
                                    </button>

                                </div>
                            </div>
                        </div>
                    </form>


                    <hr class="my-4">

                    <div class="insert-table table-responsive">

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_stylesheets %}
    {#    <link rel="stylesheet" href="{% static 'bower_components/datatables.net-dt/css/dataTables.bootstrap.min.css' %}">#}
{% endblock %}

{% block extra_script %}
    <script src="{% static 'js/assign_bookunit.js' %}"></script>
{% endblock %}