{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load formset_tags %}

{% block page_name %}
    Dashboard
{% endblock %}

{% block page_description %}
    Assign
{% endblock %}

{% block breadcrumbLink %}
    <li>
        <a href="javascript:void(0)" class="breadcrumb-item active">Dashboard</a>
    </li>
{% endblock %}


{% block body_content %}
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-blue-active"><i class="fa fa-book"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">No. of Books</span>
                    <span class="info-box-number" id="remaining-fine">{{ no_of_books }}</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-red-active"><i class="fa fa-folder"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">ORDERED BOOKS</span>
                    <span class="info-box-number">{{ ordered_books }}</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-yellow-active"><i class="fa fa-money"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">FINE TO COLLECT</span>
                    <span class="info-box-number">Rs. {{ total_fine }}</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
    </div>

    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Borrowed Books</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                            <tr>
                                <th>Student</th>
                                <th>Book</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for data in borrowed_books %}
                                <tr>
                                    <td>
                                        {{ data.student }}
                                    </td>
                                    <td>
                                        {{ data.book_unit.book_code }}
                                    </td>
                                    <td>
                                        <a class="btn btn-primary btn-sm"
                                           href="{% url 'borrows:assign_borrow_bookunit' data.id %}">Assign</a>
                                        <a class="btn btn-warning btn-sm"
                                           href="{% url 'borrows:cancel_request' data.id %}">Cancel</a>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="5" class="text-center">
                                        No data available in table
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    {#                    <a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left">Place New Order</a>#}
                    <a href="javascript:void(0)" class="btn btn-sm btn-default btn-flat pull-right">View All Orders</a>
                </div>
                <!-- /.box-footer -->
            </div>
        </div>

        <div class="col-md-6 col-xs-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Top 10 Issued Books</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="chart-responsive">
                                <canvas id="issued-books" width="450" height="250"></canvas>
                            </div>
                            <!-- ./chart-responsive -->
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_stylesheets %}
{% endblock %}

{% block extra_script %}
    <script src="{% static 'bower_components/chart.js/dist/Chart.min.js' %}"></script>

    <script src="{% static 'js/staff_dashboard.js' %}"></script>
{% endblock %}
