{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load formset_tags %}
{% load calculate_fine %}

{% block page_name %}
    Dashboard
{% endblock %}

{% block page_description %}
    Assign
{% endblock %}

{% block breadcrumbLink %}
    <li>
        <a href="javascript:void(0)" class="breadcrumb-item active">Dashboard</a>
    </li>
{% endblock %}


{% block body_content %}
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-blue-active"><i class="fa fa-money"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Remaining Fines</span>
                    <span class="info-box-number" id="remaining-fine">Rs. {{ remaining_fine }}</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-red-active"><i class="fa fa-money"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">ESTIMATED TOTAl FINE</span>
                    <span class="info-box-number">Rs. <span id="grand-total"></span></span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-yellow-active"><i class="fa fa-folder"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">BORROWED BOOKS</span>
                    <span class="info-box-number">{{ borrowed_books_count }}</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
    </div>

    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Borrowed Books</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                            <tr>
                                <th>Book Code</th>
                                <th>Acc. No.</th>
                                <th>Issued Date</th>
                                <th>Return Date</th>
                                <th>Fine</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for data in borrowed_books %}
                                <tr>
                                    <td>
                                        {{ data.book_unit.book_code }}
                                    </td>
                                    <td>
                                        {{ data.book_unit.acc_no }}
                                    </td>
                                    <td>
                                        {{ data.issued_date }}
                                    </td>
                                    <td>
                                        {{ data.return_date }}
                                    </td>
                                    <td>
                                        {{ data.issued_date|calculate_fine }}
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    {#                    <a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left">Place New Order</a>#}
                    <a href="javascript:void(0)" class="btn btn-sm btn-default btn-flat pull-right">View All Orders</a>
                </div>
                <!-- /.box-footer -->
            </div>
        </div>

        <div class="col-md-6 col-xs-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Borrowed History</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                            <tr>
                                <th>Book Code</th>
                                <th>Acc. No.</th>
                                <th>Issued Date</th>
                                <th>Return Date</th>
                                <th>Fine</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for data in borrowed_history %}
                                <tr>
                                    <td>
                                        {{ data.book_unit.book_code }}
                                    </td>
                                    <td>
                                        {{ data.book_unit.acc_no }}
                                    </td>
                                    <td>
                                        {{ data.issued_date }}
                                    </td>
                                    <td>
                                        {{ data.return_date }}
                                    </td>
                                    <td>
                                        {{ data.issued_date|calculate_fine }}
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left">Place New Order</a>
                    <a href="javascript:void(0)" class="btn btn-sm btn-default btn-flat pull-right">View All Orders</a>
                </div>
                <!-- /.box-footer -->
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_stylesheets %}
{% endblock %}

{% block extra_script %}
    <script>
        $(document).ready(function () {
            var total_fine = parseFloat('{{ estimated_total_fine }}');

            var remaining_fine = parseFloat($('#remaining-fine').text().split(' ')[1]);
            var grand_total = 0;
            grand_total = total_fine + remaining_fine;
            $('#grand-total').text(grand_total);

        });
    </script>
{% endblock %}
