{% extends 'adminlte/base.html' %}
{% load staticfiles %}
{% load notifications_tags %}

{% block title %}Library Management System{% endblock %}

{% block messages %}
    {% include 'snippets/_messages.html' %}
{% endblock %}


{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="{% static 'bower_components/select2/dist/css/select2.min.css' %}" rel="stylesheet">
    <script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script>
    <link rel="shortcut icon" href="/media/logo.png">

    {% block extra_stylesheets %}

    {% endblock %}
{% endblock %}

{% block content_header %}
    <div class="container-fluid">
        <section class="content-header"
                 style="margin-bottom: 5px;padding-bottom: 15px; border-bottom: 1px solid #bcbcbc;">
            <h1>
                {% block page_name %}{% endblock %}
                <small>{% block page_description %}{% endblock %}</small>
            </h1>
            {% block breadcrumbs %}
                {#                <nav aria-label="breadcrumb">#}
                <ol class="breadcrumb ">
                    <li class="breadcrumb-item ml-1"><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
                    {% block breadcrumbLink %}
                    {% endblock %}
                </ol>
                {#                </nav>#}
            {% endblock %}
        </section>
    </div>
{% endblock %}

{% block nav_header %}
    {% include 'main_pages/_main_header.html' %}
{% endblock %}

{% block nav_sidebar %}
    {% include 'main_pages/_main_sidebar.html' %}
{% endblock %}

{% block content %}
    {% block body_content %}

    {% endblock %}
{% endblock %}

{% block extra_foot %}

    <script>
        $(document).ready(function () {
            $(".alert").delay(10000).fadeOut(500, function () {
                $(this).alert('close');
            });
            $('.select2').select2();
        });
    </script>

    {% block  extra_script %}
    {% endblock %}

{% endblock %}

{% block nav_footer %}
    {% include 'main_pages/_main_footer.html' %}
{% endblock %}

{% block javascript %}
    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'jquery/dist/jquery-ui.min.js' %}"></script>
    <script src="{% static 'bower_components/select2/dist/js/select2.min.js' %}"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %} "></script>
    <script src="{% static 'js/notify.js' %}" type="text/javascript"></script>
    {% register_notify_callbacks menu_class="menu" callbacks='fill_notification_list,fill_notification_badge' %}

{#    <script>#}
{#        function my_special_notification_callback(data) {#}
{#            for (var i = 0; i < data.unread_list.length; i++) {#}
{#                msg = data.unread_list[i];#}
{#                console.log(msg);#}
{#            }#}
{#        }#}
{#    </script>#}
    <script src="{% static 'admin-lte/dist/js/app.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
{% endblock %}
