<form id="book-form" action="{% url 'books:create_json' %}" method="post">
    {% csrf_token %}
    {% if form.non_field_errors %}
        <div class="text-danger">
            {{ form.non_field_errors }}
        </div>
    {% endif %}
    <div class="form-group {% if form.name.errors or form.non_field_errors %} has-error {% endif %}">
        <label class="control-label" for="exampleInputEmail1">Book Code</label>
        {{ form.name }}
        {% if form.name.errors %}
            <span id="helpBlock2" class="help-block">{{ form.code.errors }}</span>
        {% endif %}
    </div>

    <div class="form-group {% if form.code.errors or form.non_field_errors %} has-error {% endif %}">
        <label class="control-label" for="exampleInputEmail1">Book Name</label>
        {{ form.code }}
        {% if form.code.errors %}
            <span id="helpBlock2" class="help-block">{{ form.code.errors }}</span>
        {% endif %}
    </div>

    <div class="form-group {% if form.author.errors or form.non_field_errors %} has-error {% endif %}">
        <label class="control-label" for="exampleInputEmail1">{{ form.author.label }}</label>
        {{ form.author }}
        {% if form.author.errors %}
            <span id="helpBlock2" class="help-block">{{ form.author.errors }}</span>
        {% endif %}
    </div>

    <div class="form-group {% if form.publisher.errors or form.non_field_errors %} has-error {% endif %}">
        <label class="control-label" for="exampleInputEmail1">{{ form.publisher.label }}</label>
        {{ form.publisher }}
        {% if form.publisher.errors %}
            <span id="helpBlock2" class="help-block">{{ form.publisher.errors }}</span>
        {% endif %}
    </div>

    <div class="form-group {% if form.edition.errors or form.non_field_errors %} has-error {% endif %}">
        <label class="control-label" for="exampleInputEmail1">{{ form.edition.label }}</label>
        {{ form.edition }}
        {% if form.edition.errors %}
            <span id="helpBlock2" class="help-block">{{ form.edition.errors }}</span>
        {% endif %}
    </div>

    <input type="submit" id="book-submit" class="btn btn-primary" value="Submit">
</form>
