<form action="{% url 'books:create_json' %}" method="post">
    {% csrf_token %}
    <div class="form-group {% if form.name.errors %} has-error {% endif %}">
        <label class="control-label" for="exampleInputEmail1">Book Name</label>
        {{ form.name }}
        {% if form.name.errors %}
            <span id="helpBlock2" class="help-block">{{ form.code.errors }}</span>
        {% endif %}
    </div>

    <div class="form-group {% if form.author.errors %} has-error {% endif %}">
        <label class="control-label" for="exampleInputEmail1">{{ form.author.label }}</label>
        {{ form.author }}
        {% if form.author.errors %}
            <span id="helpBlock2" class="help-block">{{ form.author.errors }}</span>
        {% endif %}
    </div>

    <div class="form-group {% if form.publisher.errors %} has-error {% endif %}">
        <label class="control-label" for="exampleInputEmail1">{{ form.publisher.label }}</label>
        {{ form.publisher }}
        {% if form.publisher.errors %}
            <span id="helpBlock2" class="help-block">{{ form.publisher.errors }}</span>
        {% endif %}
    </div>

    <div class="form-group {% if form.edition.errors %} has-error {% endif %}">
        <label class="control-label" for="exampleInputEmail1">{{ form.edition.label }}</label>
        {{ form.edition }}
        {% if form.edition.errors %}
            <span id="helpBlock2" class="help-block">{{ form.edition.errors }}</span>
        {% endif %}
    </div>
    <input type="submit" class="btn btn-primary" value="Submit">
</form>
