{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load formset_tags %}

{% block page_name %}
    Student
{% endblock %}

{% block page_description %}
    File Upload
{% endblock %}

{% block breadcrumbLink %}
    <li>
        <a href="{% url 'students:list_student' %}" class="breadcrumb-item">Students</a>

    </li>
    <li>
        <a href="#" class="breadcrumb-item active">Create</a>
    </li>
{% endblock %}


{% block body_content %}
    <div class="row">
        <div class="col-md-12 ">
            <div class="panel">
                <div class="panel-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4">
                                <div class="panel panel-default">
                                    <div class="panel-heading text-center">
                                        <p style="font-size: 18px; font-weight: bold;">Choose File</p>
                                    </div>
                                    <div class="panel-body">

                                        <div class="form-group">
                                            {{ form.document }}
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" value="Submit" id='submit-btn'
                                                   class="btn btn-primary btn-block">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_script %}
    <script src="{% static 'js/customFormset.js' %}"></script>
    <script>
        $('body').on('change', '#id_course', function () {
            var selected_value = $(this).children('option:selected').val();
            if (selected_value) {
                $.ajax({
                    url: '/batches/' + selected_value + "/batch-list/",
                    cache: false,
                    error: function () {
                        console.log("error");
                    },
                    success: function (data) {
                        $('#id_batch').empty().append(data);
                    },
                    type: 'GET'
                });
            } else {
                $('#id_batch').html('<option value selected>Select</option>').val('');
            }
        });
    </script>
{% endblock %}